<div class="parallax">
  <div class="content">
    <div class="content-block">
      <div class="title">
        SAVE THE DATE
      </div>
      <div class="date">
        22<sup>nd</sup> October 2017
      </div>
    </div>
  </div>
  <div class="arrow-group">
    <div class="text">RSVP</div>
    <div class="arrow">
      <svg version="1.1" id="Ebene_2_1_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="53px" height="20px" viewBox="0 0 53 20" enable-background="new 0 0 53 20" xml:space="preserve">
        <g>
        <polygon points="26.5,17.688 9.114,3.779 10.303,2.312 26.5,15.269 42.697,2.313 43.886,3.779 	"></polygon>
        </g>
      </svg>
    </div>
  </div>
</div>
<div class="home">
  <div class="header">
    <%= image_tag 'header.png' %>
  </div>
  <div class="content">
    <div class="title">
      Jayden &amp; Wanli
    </div>
    <div class="rsvp-form row">
      <div class="col-sm-6 col-sm-offset-3">
        <%= form_for @rsvp, method: :post, url: create_rsvp_home_index_path, html: {class: "form-horizontal"} do |f| %>
          <div class="form-group labelholder" data-label="NAME">
            <%= f.text_field :name, placeholder: "Name", class: "form-control input-lg" %>
          </div>
          <div class="form-group labelholder" data-label="EMAIL">
            <%= f.email_field :email, placeholder: "Email", class: "form-control input-lg" %>
          </div>
          <div class="form-group labelholder" data-label="CONTACT NUMBER">
            <%= f.text_field :contact_no, placeholder: "Contact number", class: "form-control input-lg" %>
          </div>
          <div class="form-group labelholder" data-label="NO OF GUESTS">
            <%= f.number_field :no_of_guests, { placeholder: "Number of guests", min: 1, max: 9, step: 1, value: 1, class: "form-control input-lg"} %>
          </div>
          <div id="additional-guests" style="display: none;">
            <div id="additional-guests-names"></div>
            <div class="form-group labelholder" data-label="NO OF BABY CHAIRS NEEDED">
              <%= f.number_field :no_of_baby_chairs_needed, { placeholder: "No of baby chairs needed", min: 0, max: 9, value: 0, class: "form-control input-lg"} %>
            </div>
          </div>
          <div class="form-group labelholder" data-label="ATTENDING?">
            <%= f.collection_select :attending, [true, false], :to_s, :humanize, {}, { class: "form-control input-lg" } %>
          </div>
          <div class="form-group labelholder" data-label="DIETARY CONCERNS?">
            <%= f.text_field :dietary_concerns, placeholder: "Dietary concerns?", class: "form-control input-lg" %>
          </div>
          <div class="form-group labelholder" data-label="ANY OTHER MESSAGES?">
            <%= f.text_field :any_other_messages, placeholder: "Any other messages?", class: "form-control input-lg" %>
          </div>
          <div class="form-group">
            <%= f.submit "Send RSVP", class: "btn btn-default btn-lg btn-block" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="footer">
    <%= image_tag 'footer.png' %>
  </div>
</div>
